if SHIELD_SEVENTEEEN_LEFT

config ZMK_KEYBOARD_NAME
	# must be less than 16 characters long
	default "seventeeen"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SEVENTEEEN_LEFT || SHIELD_SEVENTEEEN_RIGHT

config ZMK_SPLIT
	default y

endif
