#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
//#include <dt-bindings/zmk/ext_power.h>

/ {
    behaviors {
        #include "macros.dtsi"
        //#include "custom.dtsi"
        //#include "cz.dtsi"
        //#include "ru.dtsi"
        #include "engine.dtsi"  // only uses &enr
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {  // 0
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮
      &none      &none      &none      &none      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╮
    &kp RETURN   &enr 5     &enr 6     &enr 7     &enr 8     &kp TAB
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
     &kp BSPC    &enr 1     &enr 2     &enr 3     &enr 4   &kp ESCAPE
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
      &none     &kp LEFT    &kp UP    &kp DOWN   &kp RIGHT
// ├──────────┼──────────┴──────────┴──────────┴──────────╯
      &enr 0
// ╰──────────╯
            >;
        };
    };
};
