#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {  // 0
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮
      &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╮
       &kp J      &kp L      &kp U      &kp Y    &kp SEMI   &kp MINUS
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
       &kp H      &kp N      &kp E      &kp I      &kp O     &kp SQT
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────╯
       &kp K      &kp M    &kp COMMA   &kp DOT   &kp FSLH
// ╰──────────┴───┬──────┴──────────┴──────────┴──────────╯
      &kp SPACE
// ╰──────────────╯
/*
//            ╭──────────┬──────────┬──────────┬──────────┬──────────╮
                 &kp N1     &kp N2     &kp N3     &kp N4     &kp N5
// ╭──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
     &kp TAB     &kp Q      &kp W      &kp F      &kp P      &kp G
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
 &mt LCTRL ESC   &kp A      &kp R      &kp S      &kp T      &kp D
// ╰──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                 &kp Z      &kp X      &kp C      &kp V      &kp B
//            ╰──────────┴──────────┴──────────┴─────────┬┴─────────┬╯
                                                           &kp SPACE
//                                                       ╰──────────╯
*/

            >;
        };
    };
};
