#include "unicode.dtsi"

U8_0(cz_Ac0, N0, N0,  E, N1, N0, N0,  C, N1) // Ctrl-Shift-U Ctrl 00E1/00C1 ENT
U8_0(cz_Ch0, N0, N1, N0,  D, N0, N1, N0,  C)
U8_0(cz_Dh0, N0, N1, N0,  F, N0, N1, N0,  E)
U8_0(cz_Ec0, N0, N0,  E, N9, N0, N0,  C, N9)
U8_0(cz_Eh0, N0, N1, N1,  B, N0, N1, N1,  A)
U8_0(cz_Ic0, N0, N0,  E,  D, N0, N0,  C,  D)
U8_0(cz_Nh0, N0, N1, N4, N8, N0, N1, N4, N7)
U8_0(cz_Oc0, N0, N0,  F, N3, N0, N0,  D, N3)
U8_0(cz_Rh0, N0, N1, N5, N9, N0, N1, N5, N8)
U8_0(cz_Sh0, N0, N1, N6, N1, N0, N1, N6, N0)
U8_0(cz_Th0, N0, N1, N6, N5, N0, N1, N6, N4)
U8_0(cz_Uc0, N0, N0,  F,  A, N0, N0,  D,  A)
U8_0(cz_Uk0, N0, N1, N6,  F, N0, N1, N6,  E)
U8_0(cz_Yc0, N0, N0,  F,  D, N0, N0,  D,  D)
U8_0(cz_Zh0, N0, N1, N7,  E, N0, N1, N7,  D)
