macro_backslash_to_0: macro_backslash_to_0{
compatible = "zmk,behavior-macro";
label = "macro_backslash_to_0";
#binding-cells = <0>;
bindings = <&kp BACKSLASH>, <&to 0>;
};
macro_grave_to_0: macro_grave_to_0{
compatible = "zmk,behavior-macro";
label = "macro_grave_to_0";
#binding-cells = <0>;
bindings = <&kp GRAVE>, <&to 0>;
};
macro_equal_to_0: macro_equal_to_0{
compatible = "zmk,behavior-macro";
label = "macro_equal_to_0";
#binding-cells = <0>;
bindings = <&kp EQUAL>, <&to 0>;
};
macro_lock_to_0: macro_lock_to_0{
compatible = "zmk,behavior-macro";
label = "macro_lock_to_0";
#binding-cells = <0>;
bindings = <&kp LS(LG(N8))>, <&to 0>;
};
macro_plus_to_0: macro_plus_to_0{
compatible = "zmk,behavior-macro";
label = "macro_plus_to_0";
#binding-cells = <0>;
bindings = <&kp LS(EQUAL)>, <&to 0>;
};
macro_rcb_to_0: macro_rcb_to_0{
compatible = "zmk,behavior-macro";
label = "macro_rcb_to_0";
#binding-cells = <0>;
bindings = <&kp LS(RIGHT_BRACKET)>, <&to 0>;
};
macro_lcb_to_0: macro_lcb_to_0{
compatible = "zmk,behavior-macro";
label = "macro_lcb_to_0";
#binding-cells = <0>;
bindings = <&kp LS(LEFT_BRACKET)>, <&to 0>;
};
macro_rsb_to_0: macro_rsb_to_0{
compatible = "zmk,behavior-macro";
label = "macro_rsb_to_0";
#binding-cells = <0>;
bindings = <&kp RIGHT_BRACKET>, <&to 0>;
};
macro_lsb_to_0: macro_lsb_to_0{
compatible = "zmk,behavior-macro";
label = "macro_lsb_to_0";
#binding-cells = <0>;
bindings = <&kp LEFT_BRACKET>, <&to 0>;
};
macro_tilde_to_0: macro_tilde_to_0{
compatible = "zmk,behavior-macro";
label = "macro_tilde_to_0";
#binding-cells = <0>;
bindings = <&kp LS(GRAVE)>, <&to 0>;
};
macro_underscore_to_0: macro_underscore_to_0{
compatible = "zmk,behavior-macro";
label = "macro_underscore_to_0";
#binding-cells = <0>;
bindings = <&kp LS(MINUS)>, <&to 0>;
};
