#define kp4n(n1, n2, n3, n4) &kp n1 &kp n2 &kp n3 &kp n4 &kp SPACE
#define unicode_macro(name, n1, n2, n3, n4, more) \
	name: name { compatible = "zmk,behavior-macro"; \
		wait-ms = <10>; \
                tap-ms = <10>; \
		#binding-cells = <0>; \
		bindings = \
			<&macro_tap &kp LC(LS(U))>, \
			<&macro_wait_time 2>, \
			<&macro_tap_time 2>, \
			<&macro_tap &kp LALT kp4n(n1, n2, n3, n4) more>; \
	};

#define U8_(name, l1, l2, l3, l4, u1, u2, u3, u4, more) \
	unicode_macro(name ## _lower, l1, l2, l3, l4, more) \
	unicode_macro(name ## _upper, u1, u2, u3, u4, more) \
	name: name { \
		compatible = "zmk,behavior-mod-morph"; \
		#binding-cells = <0>; \
		mods = <(MOD_LSFT|MOD_RSFT)>; \
		bindings = <&name ## _lower>, <&name ## _upper>; \
	};

#define U8(name, l1, l2, l3, l4, u1, u2, u3, u4) \
	U8_(name, l1, l2, l3, l4, u1, u2, u3, u4, &none) \
	U8_(name ## 0, l1, l2, l3, l4, u1, u2, u3, u4, &to 0)
