manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: caksoylar
      url-base: https://github.com/caksoylar
    - name: t184256
      url-base: https://github.com/t184256
  projects:
    - name: zephyr
      remote: zmkfirmware
      revision: dacab4875df72109b96cc8977547a0dc04875bcd  # v3.5.0+zmk-fixes
      import:
        name-blocklist:
          - ci-tools
          - hal_altera
          - hal_cypress
          - hal_infineon
          - hal_microchip
          - hal_nxp
          - hal_openisa
          - hal_silabs
          - hal_xtensa
          - hal_st
          - hal_ti
          - loramac-node
          - mcuboot
          - mcumgr
          - net-tools
          - openthread
          - edtt
          - trusted-firmware-m
    - name: zmk
      remote: zmkfirmware
      revision: e34793e8c7193bc868b95ec38d78f67956f759cb  # 
      import: app/west.yml
    - name: zmk-rgbled-widget
      remote: caksoylar
      revision: fbe6dde8ffa68fdcded1600a66aa18cf12a796fb  # 
    - name: zmk-engine
      remote: t184256
      revision: 6f95ff6f3feaecbc586fa1ca03ce8626c545f121  # main
  self:
    path: config
