/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    behaviors {
        #include "macros.dtsi"
        #include "custom.dtsi"
        #include "cz.dtsi"
        #include "ru.dtsi"
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {  // 0
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                       ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
      &none      &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                             &kp N6     &kp N7     &kp N8     &kp N9     &kp N0      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
     &kp TAB     &kp Q      &kp W      &kp F      &kp P      &kp G                               &kp J      &kp L      &kp U      &kp Y    &kp SEMI  &minuspipe
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
 &mt LCTRL ESC   &kp A      &kp R      &kp S      &kp T      &kp D                               &kp H      &kp N      &kp E      &kp I      &kp O     &kp SQT
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤╭─────────╮ ╭─────────╮├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp LSHFT    &kp Z      &kp X      &kp C      &kp V      &kp B    &kp K_BACK     &none       &kp K      &kp M    &kp COMMA   &kp DOT   &kp FSLH     &none
// ╰──────────┴──────────┴─────┬────┴─────┬────┴─────┬────┴─────┬────╯╰─────────╯ ╰─────────╯╰─────┬────┴─────┬────┴─────┬────┴─────┬────┴──────────┴──────────╯
                                  &none     &kp LEFT  &kp RIGHT      &bsp_mod     &mt RSHIFT SPACE    &kp UP    &kp DOWN    &none
//                             ╰──────────┴──────────┴──────────╯ ╰─────────────╯ ╰──────────────╯ ╰──────────┴──────────┴──────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_LTHUMB_HOLD {  // 1
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                       ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
      &none    &bt_sel 0  &bt_sel 1  &bt_sel 2  &bt_sel 3  &bt_sel 4                             &none      &none      &none      &none      &none      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
     &m_wm Y    &m_wm Q    &m_wm W    &m_wm F    &m_wm P    &m_wm G                              &none      &none      &none      &none      &none      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
     &m_wm X    &m_wm A    &m_wm R    &m_wm S    &m_wm T    &m_wm D                            &kp LEFT   &kp DOWN    &kp UP    &kp RIGHT    &none      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤╭─────────╮ ╭─────────╮├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
       &none     &none      &none      &none      &none    &kp DELETE   &none        &none   &kp LC(LEFT) &kp PG_DN &kp PG_UP &kp LC(RIGHT)  &none      &none
// ╰──────────┴──────────┴─────┬────┴─────┬────┴─────┬────┴─────┬────╯╰─────────╯ ╰─────────╯╰─────┬────┴─────┬────┴─────┬────┴─────┬────┴──────────┴──────────╯
                                &bt BT_CLR    &none     &none          &none          &kp ENTER       &none     &none       &none
//                             ╰──────────┴──────────┴──────────╯ ╰─────────────╯ ╰──────────────╯ ╰──────────┴──────────┴──────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_LTHUMB_STICKY {  // 2
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                       ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
      &to 0      &to 0      &to 0      &to 0      &to 0      &to 0                               &to 0      &to 0    &m_lock0     &to 0      &to 0      &to 0
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &to 0      &to 0      &to 0      &to 0      &to 0      &to 0                             &m_tilde0   &m_lsb0    &m_rsb0    &m_lcb0    &m_rcb0   &m_plus0
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &to 0      &to 0      &to 0      &to 0      &to 0      &to 0                             &m_home0     &to 0      &to 0     &m_end0   &m_equal0  &m_grave0
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤╭─────────╮ ╭─────────╮├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &to 0      &to 0      &to 0      &to 0      &to 0      &to 0       &to 0       &to 0       &to 0      &to 0      &to 0      &to 0     &m_bsl0     &to 0
// ╰──────────┴──────────┴─────┬────┴─────┬────┴─────┬────┴─────┬────╯╰─────────╯ ╰─────────╯╰─────┬────┴─────┬────┴─────┬────┴─────┬────┴──────────┴──────────╯
                                  &to 0      &to 0      &to 0          &to 0           &m_und0         &to 0      &to 0      &to 0
//                             ╰──────────┴──────────┴──────────╯ ╰─────────────╯ ╰──────────────╯ ╰──────────┴──────────┴──────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_cz {  // 3
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                       ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
      &to 0      &to 0      &to 0      &to 0      &to 0      &to 0                               &to 0      &to 0     &cz_Uk      &to 0      &to 0      &to 0
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &to 0      &to 0      &to 0      &to 0      &to 0      &to 0                               &to 0     &cz_Uk     &cz_Uc     &cz_Yc      &to 0      &to 0
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &to 0      &cz_Ac     &cz_Rh     &cz_Sh     &cz_Th     &cz_Dh                              &to 0     &cz_Nh     &cz_Ec     &cz_Ic     &cz_Oc      &to 0
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤╭─────────╮ ╭─────────╮├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &to 0      &cz_Zh     &to 0      &cz_Ch     &to 0      &to 0       &to 0       &to 0       &to 0      &to 0     &cz_Eh      &to 0      &to 0      &to 0
// ╰──────────┴──────────┴─────┬────┴─────┬────┴─────┬────┴─────┬────╯╰─────────╯ ╰─────────╯╰─────┬────┴─────┬────┴─────┬────┴─────┬────┴──────────┴──────────╯
                                  &to 0      &to 0      &to 0          &to 0         &kp RSHIFT        &to 0      &to 0      &to 0
//                             ╰──────────┴──────────┴──────────╯ ╰─────────────╯ ╰──────────────╯ ╰──────────┴──────────┴──────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_ru {  // 4
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                       ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
      &none      &kp N1     &ru_N2     &ru_N3     &ru_N4     &kp N5                             &ru_N6     &ru_N7     &kp N8     &kp N9     &kp N0      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &ru_Yo     &ru_J      &ru_C      &ru_U      &ru_K      &ru_Ye                              &ru_N      &ru_G     &ru_Sh     &ru_Sch     &ru_Z      &ru_H
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
     &ru_Har     &ru_F      &ru_Yi     &ru_V      &ru_A      &ru_P                               &ru_R      &ru_O      &ru_L      &ru_D     &ru_Zh      &ru_E
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤╭─────────╮ ╭─────────╮├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp LSHFT    &ru_Ya     &ru_Ch     &ru_S      &ru_M      &ru_I    &kp K_BACK     &none       &ru_T     &ru_Sof     &ru_B     &ru_Yu    &ru_DOTC     &none
// ╰──────────┴──────────┴─────┬────┴─────┬────┴─────┬────┴─────┬────╯╰─────────╯ ╰─────────╯╰─────┬────┴─────┬────┴─────┬────┴─────┬────┴──────────┴──────────╯
                                  &none     &kp LEFT  &kp RIGHT     &ru_bsp_mod   &mt RSHIFT SPACE    &kp UP    &kp DOWN    &none
//                             ╰──────────┴──────────┴──────────╯ ╰─────────────╯ ╰──────────────╯ ╰──────────┴──────────┴──────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_ru_LTHUMB_HOLD {  // 5
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                       ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
      &none    &bt_sel 0  &bt_sel 1  &bt_sel 2  &bt_sel 3  &bt_sel 4                             &none      &none      &none      &none      &none      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
     &m_wm Y    &m_wm Q    &m_wm W    &m_wm F    &m_wm P    &m_wm G                              &none      &none      &none      &none      &none      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
     &m_wm X    &m_wm A    &m_wm R    &m_wm S    &m_wm T    &m_wm D                            &kp LEFT   &kp DOWN    &kp UP    &kp RIGHT    &none      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤╭─────────╮ ╭─────────╮├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
       &none     &none      &none      &none      &none    &kp DELETE    &none       &none   &kp LC(LEFT) &kp PG_DN &kp PG_UP &kp LC(RIGHT)  &none      &none
// ╰──────────┴──────────┴─────┬────┴─────┬────┴─────┬────┴─────┬────╯╰─────────╯ ╰─────────╯╰─────┬────┴─────┬────┴─────┬────┴─────┬────┴──────────┴──────────╯
                                &bt BT_CLR    &none     &none          &none          &kp ENTER       &none     &none       &none
//                             ╰──────────┴──────────┴──────────╯ ╰─────────────╯ ╰──────────────╯ ╰──────────┴──────────┴──────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_ru_LTHUMB_STICKY {  // 6
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                       ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
      &to 4      &to 4      &to 4      &to 4      &to 4      &to 4                               &to 4      &to 4    &m_lock4     &to 4      &to 4      &to 4
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &to 4      &to 4      &to 4      &to 4      &to 4      &to 4                             &m_tilde4   &m_lsb4    &m_rsb4    &m_lcb4    &m_rcb4   &m_plus4
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                       ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &to 4      &to 4      &to 4      &to 4      &to 4      &to 4                             &m_home4     &to 4      &to 4     &m_end4   &m_equal4  &m_slash4
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤╭─────────╮ ╭─────────╮├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
      &to 4      &to 4      &to 4      &to 4      &to 4      &to 4       &to 4       &to 4       &to 4      &to 4      &to 4      &to 4     &m_bsl4     &to 4
// ╰──────────┴──────────┴─────┬────┴─────┬────┴─────┬────┴─────┬────╯╰─────────╯ ╰─────────╯╰─────┬────┴─────┬────┴─────┬────┴─────┬────┴──────────┴──────────╯
                                  &to 4      &to 4      &to 4          &to 4          &m_dash4         &to 4      &to 4      &to 4
//                             ╰──────────┴──────────┴──────────╯ ╰─────────────╯ ╰──────────────╯ ╰──────────┴──────────┴──────────╯
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

    };
};
